<li class="navigation__sub navigation__sub--toggled">
  <a href=""><i class="fa fa-tint"></i> General </a>
  <ul style="display: block;">
    <li><%= link_to("<i class='fa fa-list'></i> Policies".html_safe, policies_path) %></li>
    
  </ul>
</li>

