<li class="navigation__sub navigation__sub">
  <a href="" data-ma-action="submenu-toggle"><i class="fa fa-gear"></i> Policy Setup </a>
  <ul style="display: none;">
    <li><%= link_to("<i class='fa fa-gear'></i> Status Codes".html_safe, admins_path) %></li>
    <li><%#= link_to("<i class='fa fa-gears'></i> Tools".html_safe, tools_path) %></li>
  </ul>
</li>
