<li class="dropdown hidden-xs-down">
  <a href="" data-toggle="dropdown"><i class="zmdi zmdi-apps"></i></a>

  <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
    <div class="row app-shortcuts">
      
      <a class="col-4 app-shortcuts__item" href="/policies" >
        <i class="fa fa-file-text-o bg-blue-grey"></i>
        <small class="">Policies</small>
      </a>
      <a class="col-4 app-shortcuts__item" href="/claims">
        <i class="fa fa-stethoscope bg-blue"></i>
        <small class="">Claims</small>
      </a>
      <a class="col-4 app-shortcuts__item" href="/vendors">
        <i class="fa fa-building-o bg-purple"></i>
        <small class="">Vendors</small>
      </a>

    </div>
  </div>
</li>
