<footer class="footer hidden-xs-down">
	<p>© Daxly Assurance. All rights reserved.</p>

	<ul class="nav footer__nav">
		<a class="nav-link" href="http://www.ituna.io">Homepage</a>

		<a class="nav-link" href="http://www.ituna.io">Company</a>

		<a class="nav-link" href="http://www.ituna.io">Support</a>

		<a class="nav-link" href="http://www.ituna.io">News</a>

		<a class="nav-link" href="http://www.ituna.io">Contacts</a>
	</ul>
</footer>
