<section class="content">
  <header class="content__title">
    <h1>Policies</h1>

    <div class="actions">
      <a href="" class="actions__item zmdi zmdi-trending-up"></a>
      <a href="" class="actions__item zmdi zmdi-check-all"></a>

      <div class="dropdown actions__item">
        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="" class="dropdown-item">Refresh</a>
          <a href="" class="dropdown-item">Manage Widgets</a>
          <a href="" class="dropdown-item">Settings</a>
        </div>
      </div>
    </div>
  </header>

  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Policies</h2>
      <small class="card-subtitle">Search for policies.</small>
    </div>

    <div class="table-responsive">
      <table id="grid-policies" class="table">
        <thead>
          <tr>
            <th data-column-id="policy_num" data-order="desc" data-identifier="true"> Policy # </th>
            <th data-column-id="policy_name" > Policy Name </th>
            <th data-column-id="policy_orig_eff_date" > Orig Effective Date </th>
            <th data-column-id="rewrite_master_policy_num" > Rewrite Master Policy #</th>
          </tr>
        </thead>
      </table>
    </div>

  </div>

</section>

<%= content_for :body_end do %>
<%= init_grid(
  "grid-policies",
  url: "/policies.json",
  primaryKey: "id",
  formatters: {

    },
    handlers: {
      click: { fn: :inspect, url: "/policies", identifier: 'id' }
    }
    ) %>
    <% end %>
